#!/usr/bin/env pwsh
{{ if .powershell.modules -}}
Set-PSRepository -Name PSGallery -InstallationPolicy Trusted
{{ range .powershell.modules -}}
Install-Module -Repository PSGallery -Name {{ . | quote }}
{{ end -}}
{{- "\n" -}}
{{ end -}}

{{ if .powershell.resources -}}
# https://github.com/PowerShell/PSResourceGet/issues/1965
Get-PSResourceRepository | Out-Null

Set-PSResourceRepository -Name PSGallery -Trusted
{{ range .powershell.resources -}}
Install-PSResource -Repository PSGallery -Name {{ . | quote }}
{{ end -}}
{{ end -}}
