{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $profile := promptChoiceOnce . "profile" "Profile" (list "personal" "work") -}}
{{- $vcsEmail := promptStringOnce . "vcsEmail" "VCS email address" -}}
{{- $vcsUsername := promptStringOnce . "vcsUsername" "VCS username" -}}
{{- $vcsSignCommits := promptBoolOnce . "vcsSignCommits" "Sign VCS commits" -}}

[cd]
    command = "pwsh"
    args = ["-NoLogo"]

[data]
    name = {{ $name | quote }}
    profile = {{ $profile | quote }}
    vcsEmail = {{ $vcsEmail | quote }}
    vcsUsername = {{ $vcsUsername | quote }}
    vcsSignCommits = {{ $vcsSignCommits }}

[diff]
    pager = "delta"
    args = [
        "--line-numbers",
        "--navigate",
        "--side-by-side",
        "--true-color",
        "always"
    ]

[edit]
    command = "nvim"
    args = ["-f"]
