[commit]
	gpgSign = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = delta
[delta]
	features = calochortus-lyallii
	line-numbers = true
	navigate = true
	side-by-side = true
	true-color = always
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[push]
	autoSetupRemote = true
	followTags = true
[rerere]
	enabled = 1
[user]
	name = {{ .name }}
	email = {{ .vcsEmail }}
	signingkey = {{ .vcsSigningKey }}

[include]
	path = "~/.local/share/delta/themes.gitconfig"

{{ if eq .chezmoi.os "linux" -}}
# Linux-specific config
{{ if contains "WSL" .chezmoi.kernel.osrelease -}}
[credential]
	helper = {{ env "GIT_FOR_WINDOWS_DIR" | replace " " "\\\\ " }}/mingw64/bin/git-credential-manager.exe
{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "windows" -}}
# Windows-specific config
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[gpg]
	program = C:/Program Files/gnupg/bin/gpg.exe
{{ end -}}
