# Set environment variables
{{ range $name, $value := .powershell.env -}}
$env:{{ $name }} = {{ $value | quote }}
{{ end }}

{{- "\n" -}}

# Append to PATH
{{ range .powershell.path -}}
$env:PATH += ";{{ . }}"
{{ end }}

{{- "\n" -}}

# Include functions
. "$PSScriptRoot\functions.ps1"

# Create alias functions
{{ range $alias, $expr := .powershell.aliases -}}
function {{ $alias }} { {{ $expr }} @args }
{{ end }}

{{- "\n" -}}

{{ if .powershell.commands.noninteractive -}}
# Run non-interactive commands always
{{ range .powershell.commands.noninteractive -}}
{{ . }}
{{ end -}}
}
{{- "\n" -}}
{{ end -}}

# Run interactive commands if PSReadLine is available
if (Get-Module PSReadLine) {
{{ range .powershell.commands.interactive -}}
{{ . | indent 2 }}
{{ end -}}
}
